input {
  width: 320px;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  margin: 30px;
  border-bottom: 1px solid rgb(255, 200, 90);
  display: flex;
  justify-content: space-between;
}

.home {
  font-size: 26px;
  display: inline;
}

.inline {
  display: inline;
}

.reviews {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3px;
}

.info-pic {
  margin: 50px 0;
}

.movie-title {
  margin: 75px 0 0;
  max-width: 400px;
}

.section {
  margin: 0 0 50px 50px;
  max-width: 300px;
}

.review-button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.user-review {
  max-width: 650px;
}

.b-box {
  width: 650px;
  display: flex;
  justify-content: flex-end;
}

.pad-top {
  padding-top: 20px;
}

.images-pic {
  margin: 20px 0 50px 50px;
  max-width: 500px;
}

.the-review {
  margin: 0 50px 50px;
}

.pad-none {
  padding: 0;
}

.review-header {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.reviewed-item {
  margin-bottom: 50px;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
}

.result-box {
  padding: 0;
}

.info-title {
  margin: 75px;
}

@media screen and (max-width: 1490px) {
  .info-box {
    width: 80%;
  }

  .review-header {
    width: 80%;
  }

  .review-list-box {
    width: 80%;
  }

  .images-pic {
    width: 85%;
    margin-left: 0;
  }

  .image-box {
    display: flex;
    justify-content: center;
  }

  .info-pic {
    width: 85%;
  }

  .poster-pic {
    width: 85%;
  }

  .section {
    margin-right: 30px;
  }

  .user-review {
    width: 80%;
  }

  .b-box {
    width: 80%;
  }
}

@media screen and (max-width: 1250px) {
  .info-title {
    margin-top: 0;
  }

  .review-para {
    display: flex;
    justify-content: center;
  }

  .section {
    margin-left: 20px;
  }

  .section-box {
    display: flex;
    justify-content: center;
  }

  .col-half {
    flex-basis: 100%;
  }

  .review-header {
    width: 60%;
  }

  .review-list-box {
    width: 60%;
  }

  .the-rating {
    margin: 50px 0;
  }

  .movie-title {
    margin-top: 10px;
  }

  .info-pic {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .a-search {
    width: 90%;
  }

  .search-title {
    width: 90%;
  }

  .search-contain {
    width: 90%;
  }

  .images-pic {
    width: 85%;
    margin-left: 0;
  }

  .review-box {
    width: 80%;
  }
}

@media screen and (max-width: 740px) {
  .section-box {
    justify-content: flex-start;
  }

  .review-list-box {
    width: 90%;
  }

  .review-header {
    width: 90%;
  }

  .review-para {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .review-list-box {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .home {
    font-size: 20px;
  }

  .reviews {
    font-size: 14px;
  }

  .search-image {
    width: 100px;
  }

  .search-contain {
    width: 100%;
  }

  .info-title {
    margin: 50px;
    font-size: 28px;
  }

  .info-pic {
    width: 100%;
    margin-bottom: 10px;
  }

  .movie-title {
    font-size: 28px;
    margin: 0 10px;
  }

  .search-title {
    font-size: 16px;
  }

  .user-title {
    width: 65%;
  }

  .section {
    margin-left: 10px;
  }

  .section-head {
    margin-left: 20px;
  }

  .poster-pic {
    margin: 0;
  }

  .review-box {
    width: 100%;
  }

  .the-review {
    margin-left: 20px;
  }
}
