* {
  font-family: Anton, sans-serif;
}

input {
  width: 320px;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.search-box {
  width: 600px;
  height: 200px;
  margin: 150px auto;
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
  color: white;
}

.orange {
  background-color: rgb(255, 200, 90);
}

.nav-bar {
  margin: 30px;
  border-bottom: 1px solid rgb(255, 200, 90);
  display: flex;
  justify-content: space-between;
}

.home {
  font-size: 26px;
  display: inline;
}

.lab {
  color: white;
}

.inline {
  display: inline;
}

.inside {
  width: 400px;
}

.search-contain {
  min-height: 400px;
  width: 900px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.a-search {
  background-color: rgb(196, 196, 196);
  width: 600px;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(131, 131, 131);
  margin: 20px 0;
}

.search-title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
  text-decoration: underline;
  color: black;
}

.search-image {
  display: inline;
  max-width: 150px;
  height: 200px;
  object-fit: contain;
  justify-content: flex-start;
  border-radius: 5px 0 0 5px;
  background-color: rgb(107, 107, 107);
}

.hidden {
  display: none;
}

.reviews {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3px;
}

.select {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.info-box {
  background-color: black;
  color: white;
  width: 1200px;
  margin: 100px 0 200px;
}

.info-pic {
  margin: 50px 0 50px 50px;
}

.movie-title {
  margin: 100px 0;
  max-width: 400px;
}

.section {
  margin: 0 0 50px 50px;
  max-width: 300px;
}

.section-head {
  margin: 0 0 50px 50px;
  max-width: 300px;
  text-decoration: underline;
}

.section-box {
  display: flex;
  font-weight: bold;
}

.poster-pic {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.review-button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.review-button {
  font-size: 18px;
  background-color: darkgray;
  font-weight: bold;
}

.review-box {
  background-color: black;
  color: white;
  width: 1000px;
  height: 400px;
  margin: 150px auto;
}

.pad-top {
  padding-top: 20px;
}

.save-button {
  background-color: darkgray;
  font-weight: bold;
}

.s-button {
  background-color: darkgray;
  font-weight: bold;
}

.submit-button-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.review-list-box {
  background-color: black;
  color: white;
  width: 1200px;
  margin: 0 auto;
}

.images-pic {
  margin: 20px 0 50px 50px;
  max-width: 500px;
}

.the-rating {
  margin-bottom: 100px;
  margin-top: 0;
  font-size: 60px;
}

.the-review {
  margin: 0 50px 50px;
}

.pad-none {
  padding: 0;
}

.review-header {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.new-search {
  background-color: darkgray;
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
}

.bad-movie {
  color: rgb(255, 113, 113);
}

.good-movie {
  color: rgb(113, 255, 113);
}

.reviewed-item {
  margin-bottom: 50px;
}

.nothing {
  text-decoration: underline;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
}

.icon {
  padding: 30px 30px 0 0;
  font-size: 26px;
}

@media screen and (max-width: 1490px) {
  .review-header {
    width: 80%;
  }

  .review-list-box {
    width: 80%;
  }

  .images-pic {
    width: 85%;
    margin-left: 0;
  }

  .image-box {
    display: flex;
    justify-content: center;
  }

  .info-box {
    margin-right: 50px;
    width: 80%;
  }

  .info-pic {
    width: 85%;
  }

  .poster-pic {
    width: 85%;
  }

  .section {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1250px) {
  .col-half {
    flex-basis: 100%;
  }

  .review-header {
    width: 60%;
  }

  .review-list-box {
    width: 60%;
  }

  .the-rating {
    margin-bottom: 50px;
  }

  .movie-title {
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .info-pic {
    display: flex;
    justify-content: center;
  }

  .info-box {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .review-header {
    width: 70%;
  }

  .review-list-box {
    width: 70%;
  }

  .images-pic {
    width: 85%;
    margin-left: 0;
  }

  .info-box {
    width: 70%;
  }

  .movie-title {
    margin-right: 20px;
  }

  .review-box {
    width: 80%;
  }

  .user-review {
    width: 80%;
  }
}

@media screen and (max-width: 740px) {
  .submit-button-box {
    margin-right: 50px;
  }

  .review-list-box {
    width: 90%;
  }

  .review-header {
    width: 90%;
  }

  .info-box {
    margin-right: 0;
    width: 90%;
  }

  .info-pic {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .section {
    margin-left: 10px;
  }

  .section-head {
    margin-left: 20px;
  }

  .info-pic {
    margin-bottom: 10px;
  }

  .movie-title {
    margin: 20px 10px 40px 20px;
  }

  .poster-pic {
    margin: 0;
  }

  .review-box {
    width: 100%;
  }

  .submit-button-box {
    margin-right: 40px;
  }
}
