* {
  font-family: Anton, sans-serif;
}

ul {
  list-style-type: none;
}

button,
i,
a {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.reviewed-item {
  background-color: black;
  color: white;
  width: 100%;
}

.search-box {
  max-width: 600px;
  height: 200px;
  margin: 150px auto;
  background-color: black;
  border-radius: 10px;
}

.black {
  background-color: black;
  color: white;
}

.orange {
  background-color: rgb(255, 200, 90);
}

.lab {
  color: white;
  margin-top: 75px;
}

.lab2 {
  color: white;
}

.search-contain {
  min-height: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.a-search {
  background-color: rgb(196, 196, 196);
  width: 80%;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(131, 131, 131);
  margin: 20px 0;
}

.search-title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: black;
}

.search-image {
  display: inline;
  width: 150px;
  height: 200px;
  object-fit: contain;
  justify-content: flex-start;
  border-radius: 5px 0 0 5px;
  background-color: rgb(107, 107, 107);
}

.select {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.info-box {
  background-color: black;
  color: white;
  width: 100%;
  margin: 100px 0 200px;
  border-radius: 20px;
}

.section-head {
  text-decoration: underline;
}

.section-box {
  display: flex;
  font-weight: bold;
}

.poster-pic {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.review-button {
  font-size: 18px;
  background-color: darkgray;
  font-weight: bold;
}

.review-box {
  background-color: black;
  color: white;
  width: 100%;
  height: 400px;
  margin: 50px auto;
  border-radius: 10px;
}

.save-button {
  background-color: darkgray;
  font-weight: bold;
}

.s-button {
  background-color: darkgray;
  font-weight: bold;
}

.review-list-box {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.the-rating {
  margin-bottom: 50px;
  margin-top: 25px;
  font-size: 60px;
}

.new-search {
  background-color: darkgray;
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
}

.bad-movie {
  color: rgb(255, 113, 113);
}

.good-movie {
  color: rgb(113, 255, 113);
}

.nothing {
  text-decoration: underline;
}

.icon {
  padding: 30px 30px 0 0;
  font-size: 26px;
}

.search-list-item {
  cursor: pointer;
}

.the-review {
  overflow-wrap: break-word;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fed;
  border-color: #fed transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-box {
  position: fixed;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
