* {
  font-family: Anton, sans-serif;
}

input {
  width: 320px;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.search-box {
  width: 600px;
  height: 200px;
  margin: 150px auto;
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
  color: white;
}

.orange {
  background-color: rgb(255, 200, 90);
}

.nav-bar {
  margin: 30px;
  border-bottom: 1px solid rgb(255, 200, 90);
  display: flex;
  justify-content: space-between;
}

.home {
  font-size: 26px;
  display: inline;
}

.lab {
  color: white;
}

.inline {
  display: inline;
}

.inside {
  width: 400px;
}

.search-contain {
  min-height: 400px;
  width: 900px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.a-search {
  background-color: gray;
  width: 600px;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(182, 182, 182);
  margin: 20px 0;
}

.search-title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
  text-decoration: underline;
}

.search-image {
  display: inline;
  max-width: 150px;
  height: 200px;
  object-fit: contain;
  justify-content: flex-start;
  border-radius: 5px 0 0 5px;
  background-color: rgb(182, 182, 182);
}

.hidden {
  display: none;
}

.reviews {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3px;
}

.select {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.info-box {
  background-color: black;
  color: white;
  width: 75%;
  margin: 100px 0 200px;
}

.info-pic {
  margin: 50px 0 50px 50px;
}

.movie-title {
  margin: 50px 0 100px 50px;
  max-width: 400px;
}

.section {
  margin: 0 0 50px 50px;
  max-width: 300px;
}

.section-head {
  margin: 0 0 50px 50px;
  max-width: 300px;
}

.section-box {
  display: flex;
  font-weight: bold;
  text-decoration: underline;
}

.poster-pic {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .search-contain {
    width: 90%;
  }

  .a-search {
    width: 90%;
  }

  .search-image {
    width: 50%;
  }
}

@media screen and (max-width: 1430px) {
  .info-box {
    width: 50%;
    margin-right: 50px;
  }

  .poster-pic {
    max-width: 90%;
    margin-right: 50px;
  }

  .section {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .info-box {
    width: 70%;
  }

  .info-pic {
    margin-left: 40px;
  }

  .movie-title {
    margin-right: 20px;
  }
}

@media screen and (max-width: 450px) {
  .info-box {
    width: 85%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
  }

  .section {
    margin-left: 10px;
  }

  .section-head {
    margin-left: 20px;
  }

  .info-pic {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .movie-title {
    margin: 20px 10px 40px 20px;
  }
}
